---
name: Continuous Integration
on: push

jobs:
  lint:
    name: Format and liting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          activate-environment: true
      - run: uv sync --all-groups -v
      - run: mypy .
      - run: ruff check
      - run: ruff format --check

  test:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          activate-environment: true
      - run: uv sync --dev -v
      - run: pytest
